@import "../common.less";
.supplier {
  background-color: #fff;
  margin-bottom: 24px;
  padding: 24px;
  .rowItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    label {
      display: inline-block;
      min-width: 80px;
    }
    > input {
      flex: 1;
      margin: 0 0 0 10px;
    }
    .buttonBox {
      padding-left: 15px;
      button {
        margin: 0 5px;
      }
    }
  }
}
